@model Usuario

<h1>Registe um novo usuário</h1>

<form action="RegistrarUsuarios" method="post">
    <input type="text" name="Nome" id="userNome" placeholder="Nome" required>
    <input type="text" name="Login" id="userLogin" placeholder="Login" required>
    <input type="text" name="Senha" id="userSenha" placeholder="Senha" required>

    <select name="Tipo" id="userTipo">
        <option value="@Usuario.admin">Adiministrador</option>
        <option value="@Usuario.padrao">Padrão</option>
    </select>

    <input type="submit" value="REGISTRAR">
</form>